* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  .medsos {
    padding: 10px 0;
    background-color: #ff4900;
  }
  .medsos ul li {
    display: inline-block;
    color: white;
    margin-right: 10px;
  }
  .container {
    width: 80%;
    margin: 0 auto;
  }
  .container::after {
    content: "";
    display: block;
    clear: both;
  }
  header h1 {
    float: left;
    padding: 15px 0;
    color: #ff4900;
  }
  header ul {
    float: right;
  }
  header ul li {
    display: inline-block;
  }
  header ul li a {
    padding: 25px 20px;
    display: inline-block;
  }
  header ul li a:hover {
    background-color: #ff4900;
    color: white;
  }
  .active {
    background-color: #ff4900;
    color: white;
  }
  .banner {
    height: 85vh;
    background-image: url("./img/banner.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 73, 0, 0.2);
  }
  .banner h2 {
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid;
  }
  section {
    padding: 50px 0;
  }
  section h3 {
      text-align: center;
      padding: 20px 0;
      color: #ff4900;
      margin-bottom: 20px;
  }
  .about p {
      color: #666;
      word-spacing: 2px;
      line-height: 25px;
  }
  .service {
      background-color: #f9f9f9;
  }
  .box {
      color: #ff4900;
  }
  .box .col-4 {
      width: 25%;
      padding: 20px;
      box-sizing: border-box;
      text-align: center;
      float: left;
  }
  .icon {
      width: 70px;
      height: 70px;
      border: 3px solid;
      border-radius: 50%; 
      text-align: center;
      line-height: 70px;
      font-size: 20px;
      margin: 0 auto;
  }
  .box .col-4 h4 {
      margin: 15px 0;
  }
  footer {
    margin-top: 68.4px;
      padding: 15px 0;
      background-color: #333;
      color: #fff;
      text-align: center;
  }
  .bg-loader {
      background-color: #eee;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 9999;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .bg-loader .loader {
      width: 100px;
      height: 100px;
      border: 3px solid #fff;
      border-radius: 50%;
      border-top-color:#ff4900 ;
      border-right-color:#ff4900 ;
      border-bottom-color:#ff4900 ;
      animation: load 1.2s linear infinite;
  }
  @keyframes load {
      100% {
          transform: rotate(360deg);
      }
  }
  .label {
      background-color: #ff4900;
      color: white;
      padding: 15px 0;
  }
  .box .col-1 {
    width: 33%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    float: left;
      
      
  }
  .box .col-1 h4 {
    margin-top: 15px;
  }
  .box .col-1 p {
    margin: 10px;
  }